
    .app-sidebar-link {
        display: flex;
        gap: 10px;
        width: 9em;
        height: 3em;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-around;
        transition: background-color 0.3s;
        background-color: #16a34a;
    }

    .app-sidebar-link:hover,
    .dashboard-active {
        background-color: #1a4b2c;
    }
